@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ) */
    /* rgb(var(--background-start-rgb)); */
}
.header-section__bg {
  background-image: url('../static/BGShapes/Bg_Shape.svg');
  background-size: calc(100vw - 50%);
  background-position-x: calc(50vw - 7%);
  background-position-y: center;
  background-repeat: no-repeat;
  background-clip: inherit;
}
.header-section__bg-mobile {
  background-image: none;
}
@media (max-width: 640px) {
  .header-section__bg {
    background-image: none;
  }
  .header-section__bg-mobile {
    background-image: url('../static/BGShapes/Bg_Shape.svg');
    background-size: calc(100vw + 10%);
    background-position-x: center;
    background-position-y: 2rem;
    background-repeat: no-repeat;
    background-clip: padding-box;
  }
}
.section-2__bg {
  background-image: none;
}

.section-2__bg-mobile {
  background-image: url('../static/BGShapes/Section_2.svg');
  background-size: 100vw 50%;
  background-origin: content-box;
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-clip: padding-box;
}

.section-3__bg {
  background-image: url('../static/BGShapes/Section3/small.svg');
  background-size: initial;
  background-position-x: left;
  background-position-y: top;
  background-repeat: no-repeat;
}

@media (min-width: 640px) {
  .section-2__bg {
    background-image: url('../static/BGShapes/Section_2.svg');
    background-size: contain;
    background-position-y: center;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-position-x: right;
  }
  .section-2__bg-mobile {
    background-image: none;
  }
  .section-3__bg {
    background-image: url('../static/BGShapes/Section3/middle.svg');
  }
}
@media (min-width: 1024px) {
  .header-section__bg {
    background-size: contain;
    background-position-x: 50vw;
  }
  .section-3__bg {
    background-image: url('../static/BGShapes/Section3/large.svg');
  }
}